nav,
#product-banner,
footer {
	display: none;
}

#text-based {
	width: 100%;
	margin: 0px;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #444;
	letter-spacing: .015em;
	line-height: 1.75em;
	background: #dedede;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

#top-portion {
	background: linear-gradient(to right, rgb(15, 71, 119), #0d7054);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 550px;
}

h1, h2, h3, h4 {
	margin: 0;
	text-align: center;
	font-weight: normal;
	color: #fff;
}

#top-portion h1 {
	width: 343px;
	height: 70px;
	text-indent: -1005vw;
	background: url('https://annie-mac.com/uploads/sites/10713/public/anniemaclogowhitehorizontal.png');
	background-size: cover;
	margin-top: 30px;
	margin-bottom: 20px;
}

#top-portion h2 {
	font-size: 31px;
	line-height: 1.18;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: -0.5px;
}

#top-portion h4 {
	font-size: 20px;
	opacity: 0.8;
	width: 600px;
	font-weight: 300;
	letter-spacing: -.3px;
}

#form-container {
	margin: -310px auto 0px;
	background: #F7F8F9;
	padding: 40px 40px 30px 40px;
	width: 660px;
	z-index: 100;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 4px 10px rgba(0,0,0,.25);
}

label {
	display: flex;
	align-items: baseline;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

label span {
	font-size: 11px;
	color: #1f6590;
	font-weight: 300;
	margin-left: 10px;
}

input, textarea, .select, option, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	border-radius: 4px;
	display: block;
	width: 100%;
	min-height: 48px;
	box-sizing: border-box;
	padding: 0 16px;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 400;
	box-shadow: inset 0 0 0 1px #696969;
	color: #141414;
	margin-bottom: 25px;
}

button {
	background: #1f6590;
	width: 200px;
	margin: 0 auto;
	font-size: 16px;
	border: none;
	outline: none;
	box-shadow: none;
	color: #fff;
	margin-top: 45px;
}

button:hover {
	background: #0d7054;
	cursor: pointer;
}

#form-container input:hover,
#form-container select:hover,
#form-container textarea:hover {
	box-shadow: inset 0 0 0 1px #28477f;
}

option {
	opacity: .8;
}

small {
	display: block;
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
	color: rgb(53, 60, 65);
}