body {
	
	
}

#broker-landing-page {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	background: linear-gradient(0deg, rgb(15, 71, 119) 0%, rgb(32, 104, 164) 94%);
	color: #FFF;
	overflow-y: hidden;
}

#broker-landing-page small {
	width: 810px;
	opacity: .8;
	margin-top: 30px;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 22px;
	padding-bottom: 20px;
}

#broker-landing-page a {
	color: auto;
	text-decoration: inherit;
}

#broker-landing-page #b2b-logo {
	width: 350px;
	height auto;
	display: block;
	margin: 15px auto;
}

#broker-landing-page form {
	display: flex;
	flex-direction: column;
	color: #333;
	min-width: 800px;
	max-width: 900px;
	margin: 0 auto;
	font-family: sans-serif;
	box-shadow: 2px 5px 10px rgba(0,0,0,.3);
	border-radius: 5px;
	padding: 20px 30px;
	margin-top: 40px;
	background: white;
}

#broker-landing-page h4 {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 12px;
	padding: 0;
	font-size: 22px;
	letter-spacing: .8px;
	color: #7FC24A;
}

#broker-landing-page #contact-information, #broker-landing-page #broker-information {
	margin-top: 20px;
}

#broker-information {
	display: none;
}

#broker-landing-page .card-row {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

#broker-landing-page .card-row-column {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0 20px;
}

#broker-landing-page label {
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-bottom: 8px;
	letter-spacing: .6px;
	margin-top: 10px;
}

#broker-landing-page label span {
	font-size: 12px;
	margin-left: 15px;
	color: rgb(15, 71, 119);
	opacity: .8;
	letter-spacing: .8px;
	font-weight: bold;
}

#broker-landing-page input, #broker-landing-page textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	border-radius: 4px;
	display: block;
	width: 100%;
	min-height: 48px;
	box-sizing: border-box;
	padding: 0 16px;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 400;
	box-shadow: inset 0 0 0 1px #696969;
	color: #141414;	
	margin-bottom: 10px;
}

#broker-landing-page textarea {
	height: 120px;
	padding: 10px;
}

#broker-landing-page input:hover, #broker-landing-page select:hover, #broker-landing-page textarea:hover {
	box-shadow: inset 0 0 0 2px #7FC24A;
}

#flex-between {
	display: flex;
	justify-content: space-between;
	margin: 10px 20px;
	padding-top: 25px;
}

#broker-landing-page button {
	display: block;
	text-align: center;
	cursor: pointer;
	color: white;
	background: #337ab7;
	border-radius: 4px;
	border: none;
	outline: none;
	padding: 15px 20px;
	min-width: 140px !important;
	font-size: 15px;
}

#broker-landing-page #prev {
	display: block;
	text-align: center;
	cursor: pointer;
	color: white;
	background: #337ab7;
	border-radius: 4px;
	border: none;
	outline: none;
	padding: 15px 20px;
	min-width: 140px !important;
	font-size: 15px;
}

#broker-landing-page #prev1 {
	display: block;
	text-align: center;
	cursor: none;
	color: transparent;
	background: #337ab7;
	border-radius: 4px;
	border: none;
	outline: none;
	padding: 15px 20px;
	min-width: 140px !important;
	font-size: 15px;
	visibility: none;
	opacity: 0;
}

#broker-landing-page #prev {
	background: #888;
}

#broker-landing-page #continue {
	display: block;
	text-align: center;
	cursor: pointer;
	color: white;
	background: #337ab7;
	border-radius: 4px;
	border: none;
	outline: none;
	padding: 15px 20px;
	min-width: 140px !important;
	font-size: 15px;
	align-self: flex-end;	
}

#broker-landing-page #prev1:hover, #broker-landing-page #continue:hover, #broker-landing-page button:hover {
	background: #7FC24A;
}

#broker-landing-page #prev:hover {
	background: #444;
}

#broker-landing-page input:invalid {
	box-shadow: inset 0 0 0 2px #cc2427;
}

#broker-landing-page .select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	border-radius: 4px;
	display: block;
	width: 100%;
	min-height: 48px;
	box-sizing: border-box;
	padding: 0 16px;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 400;
	box-shadow: inset 0 0 0 1px #696969;
	color: #141414;	
	margin-bottom: 10px;
}

@media screen and (max-width: 880px) {
	#broker-landing-page form {
		margin: 0;
		margin-top: 0;
		min-width: 500px;
	}
	#broker-landing-page small {
		padding-bottom: 20px;
		font-size: 13.6px;
		width: 500px;
	}
	#broker-landing-page label {
		font-size: 16px;
	}
	#broker-landing-page label span {
		font-size: 14px;
	}
	#broker-landing-page #prev {
		display: none;
		flex: 1;
	}
	#broker-landing-page .card-row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		margin: 16px 0 10px;
	}
	#broker-landing-page .card-row-column {
		display: flex;
		flex-direction: column;
		flex: none;
		margin: 0 20px;
		width: 82.1vw;
	}
	#broker-landing-page input, #broker-landing-page textarea, #broker-landing-page select {
		padding: 10px;
		font-size: 15px;
		margin: 7px 0 15px;
		min-height: 50px;
	}
	#flex-between {
		justify-content: center;
	}
	body {
		box-sizing: border-box;
		overflow-y: hidden;
	}
}