@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
	font-family: 'Inter', sans-serif;
}
body, .footer {
	background: #eee;
	color: #333;
	font-family: 'Inter', sans-serif !important;
}
footer {
	display: none;
}
.page-header {
font-family: 'Inter', sans-serif;
	background: linear-gradient( 14deg, rgb(5 6 6 / 0%) 30%, rgb(107 97 28 / 0%) 80%), url(https://annie-mac.com/uploads/sites/10713/public/family-outside.jpeg) top left no-repeat;
	background-size: cover !important;
	background-position-y: 53% !important;
	min-height: initial !important;
	height: 400px;
}
.showLoanData {
	font-size: 15px !important;
	font-family: 'Inter', sans-serif !important;
	text-transform: uppercase;
	font-weight: 300 !important;
}
#titleLabel h2 {
	font-weight: 600 !important;
}
.motto h1 {
	font-family: 'Inter', sans-serif;
	font-size: 59px;
	letter-spacing: 2.5px;
	text-shadow: 1px 2px 1px rgb(0 0 0 / 50%);
	font-weight: 800 !important;
	padding-top: 160px;
}
.modal-header h4 {
	color: black;
	font-size: 24px;
	font-weight: 700 !important;
}
.ml-auto, .mx-auto {
	margin-left: 0;
}
.page-header {
	max-height: inherit;
}
.navbar-translate {
	transform: initial;
}
.card-body .container-fluid {
	padding: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
	margin: 0;
	padding-top: 0 !important;
	letter-spacing: .75px;
}
.ml-auto, .mx-auto {
	margin-left: 0 !important;
}
.navbar {
	position: absolute;
	flex-direction: row;
	align-items: center;
}
li#homeMenu {
	display: none;
}
.navbar-translate {
	visibility: hidden;
}
.navbar.navbar-transparent {
	padding-top: 0px;
	background: #0000005e !important;
}
li.dropdown.nav-item {
	display: flex;
	align-items: center;
	margin-top: 7px;
	margin-right: 40px;
}
.nav-down, .nav-up {
	top: initial !important;
	position: absolute;
}
.fixed-top li:last-of-type {
	position: absolute;
	right: 40px;
}
.fixed-top li:last-of-type a {
	font-size: 15px;
	font-weight: 800 !important;
}
.navbar .navbar-nav .nav-item .btn i {
	display: none;
}
td {
	padding: 5px 0;
	font-size: 15px;
}
.ficsSearchClear {
	display: flex;
	align-items: center;
}
.ficsSearch {
	border: none !important;
	margin-top: 0 !important;
}
.btn-danger {
	background-color: #7fc24a;
	border: none;
	color: #fff;
	opacity: 1;
	margin: 0 !important;
}
.main .container {
	width: 100% !important;
	min-width: initial !important;
	max-width: initial !important;
	margin: 0 !important;
	padding: 0 !important;
}
.navbar .container {
	width: 100% !important;
	min-width: initial !important;
	max-width: initial !important;
	margin: 0 !important;
	padding: 0 !important;
}
.section {
	padding: 25px 0;
}
.main .card {
	background-color: #eeeeee;
	color: #333;
	margin-bottom: 20px;
	position: initial;
	z-index: initial;
	border: 0 none;
	transition: initial;
	width: 80%;
	min-width: 550px;
	margin: 0 auto 60px;
	box-shadow: none;
}
.main .card:hover {
	box-shadow: none;
}
.main .card-header {
	background: #eeeeee;
	border-bottom: none;
}
.btn-round {
	border-radius: 4px;
}
.main .card:hover {
	box-shadow: none !important;
}
.main .card .card-body {
	padding: 20px;
	border-radius: 24px;
	box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
	margin: 20px;
	background: white;
}
.dropdown-menu.ficsSubHeaderDiv .ficsSubHeaderLink:hover, .footer .dropdown-toggle {
	background-color: transparent;
	color: #fff !important;
	font-weight: 500 !important;
}
.ficsLogOut:hover {
	background: #006fa9 !important;
}
.ficsChangePassword:hover {
	background-color: #006fa9;
}
.dropdown-menu.ficsSubHeaderDiv .ficsSubHeaderLink:hover {
	   background-color: #006fa9;
	}
.footer .dropdown-toggle, .footer .dropdown-item {
	color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link {
	opacity: 1;
	font-size: 15px;
}
.footer nav>ul a:not(.btn) {
	opacity: 1;
	font-size: 15px;
	font-weight: normal !important;
}
p.text-right.ficsFooterLabel.signoutDate {
	font-size: 15px !important;
}