* {
	box-sizing: border-box;
	font-family: 'interstate', sans-serif;
	letter-spacing: .015em;
	line-height: 1.75em;
}

body, html {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

#selection-container {
	background: linear-gradient(180deg, rgba(0, 39, 60, .35) 50%, #003b6c 90%), url('https://images.unsplash.com/photo-1503387837-b154d5074bd2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2978&q=80');
	background-size: cover;
	color: #fff;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	position: relative;
}

#corporate-presence {
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 60px;
}

#corporate-presence h1 {
	width: 408px;
	height: 91px;
	text-indent: -105vw;
	margin-top: -25px;
	background: url(white-reno-construction.png);
	background-size: cover;
}

#corporate-presence h2 {
	margin: 0;
	font-size: 22px;
}

#selection-container section {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#renovation-presence {
	background: linear-gradient(14deg, rgba(5, 6, 6, 0.82) 30%, rgba(107, 97, 28, 0.48) 80%), url(renrenovation.jpeg);
	background-size: cover;
	background-position-y: 80%;
}

#construction-presence {
	background: linear-gradient(14deg, rgba(5, 6, 6, 0.82) 30%, rgba(107, 97, 28, 0.48) 80%), url(house.jpg);
	background-size: cover;
	background-position-y: 80%;
}

#links-for-other {
	min-width: 100vw;
	display: flex;
	position: absolute;
	bottom: 28px;
}

#selection-container section button {
	background: #fff;
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 260px;
	padding: 35px 20px;
	color: #0e5a98;
	border: none;
	width: 340px;
	outline: none;
	font-weight: bold;
}