/* AnnieMac Stylesheet Document */

.page-loan-apply {
	background: rgba(255,255,255);
}

table {
    display: flex;
}

tr {
    display: flex;
    flex-direction: column;
}

th, td {
    text-align: left;
    height: 44px;
    width: 200px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

td input, td select {
	min-width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
}