/* AnnieMac Stylesheet Document - Updated Nov 13 2020 */
#loan-originator-backdrop {
    background: linear-gradient(50deg, rgba(5, 6, 6, 0.61) 30%, rgba(107, 97, 28, 0.28) 80%), url(https://www.annie-mac.com/dev/themes/annie_mac/img/indexbg.jpeg) top left no-repeat;
    background-size: cover !important;
    background-position-y: 43.5%;
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 0 25px;
}
#button-container-home > a {
    min-width: 130px;
    text-align: center;
}
#list_12148 a {
    background: #7FC24A;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    letter-spacing: 1px;
}
#navigation-sidebar a:hover {
    font-weight: normal !important;
}
.option-listing-go i {
    display: none;
}
#apply-now-sidebar, #prequal-now-sidebar {
    margin: -5px auto 10px;
    background: #01436b;
    width: 70%;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    color: #c2e8ff;
    letter-spacing: 1.2px;
    font-size: 13px;
}
.branch-manager-section {
    width: auto;
}
.branch-manager-section .manager-information {
    margin: 0 15px;
}
#loan-originator-blurb-container h4, #loan-originator-blurb-container h4 span, #navigation-sidebar h4, #navigation-sidebar .navigation-sidebar-sectional:nth-child(2) h4 span {
    color: white;
}
.top-links-header {
    align-items: end;
    height: 15px;
}
.header-links-content {
    margin-top: -17px;
}
.header-links-content button {
    border: none !important;
    margin-right: 10px;
}
#home-banner {
    background: linear-gradient(14deg, rgba(5, 6, 6, 0.51) 30%, rgba(107, 97, 28, 0.28) 80%), url('https://annie-mac.com/uploads/sites/10713/public/family-outside.jpeg') top left no-repeat;
    background-size: cover !important;
    background-position-y: 68% !important;
    height: 500px;
}
.review h4 {
    font-size: 20px;
}
.container-fluid, .h-100 {
    padding: 10px 0 150px 0;
}
.page-testimonial .inner-layout {
    background: #ffffff;
}
.social-loan-officer i.fas.fa-map-marker {
    margin: 0 6px;
    font-size: 18px;
}
#biography .manager-information {
    display: none;
}
#list_11344 > a, #list_11343 > a, #list_11350 > a {
    display: block;
}
#originator-core-details-portrait img {
    background: transparent;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-left: 0px;
}
.manager-biography {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
}
.site-type-loan_officer #we-provide-more-master h3 {
    font-size: 35px;
}
.manager-biography p:first-of-type {
    margin-top: 0px;
}
/* .manager-biography iframe {
    display: none;
} */
#loan-originator-blurb-container h2 {
    font-size: 35px;
}
#originator-core-details-text h4 span {
    margin-top: 11px;
    font-weight: bold;
}
#home-reviews {
    width: 82%;
}
#sitemap li#list_11563 {
    display: none;
}

#navigation-menu li:not(last-of-type) {
    margin-right: 30px;
}

@media screen and (max-width: 650px) {
    #navigation-logo {
        max-width: 200px !important;
    }
    #navigation-logo > a > img {
        margin-top: 5px;
    }
    #branch-banner {
        height: 350px;
        max-height: 351px;
        min-height: 350px;
    }
    #covid-warning h4 {
        font-size: 19px;
    }
    #covid-warning h4 span {
        text-align: center;
        width: 100px;
    }
    #covid-warning a {
        margin-right: 6px;
    }
}
@media screen and (max-width: 980px) {
    #calculations-and-numbers {
        padding-bottom: 60px;
        margin: 20px;
    }
}
.action-buttons-calcs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.alert-error {
    background: linear-gradient(#901e1e 0%, #ab1c1c 64%) !important;
    padding: 20px !important;
}
.loan-app > p:first-of-type {
    color: white;
    font-weight: bold;
    background: #006FA9;
    padding: 10px 12px;
    border-radius: 0px;
    width: 97%;
    line-height: 1.7;
}
.action-buttons-calcs button {
    width: 280px;
}
.blog-home-entry, #home-blog h3 {
    display: none;
}
.site-type-loan_officer .manager-biography ul {
    width: 90%;
    margin: 15px auto 30px;
    padding-left: 35px;
    list-style-type: square;
}
.site-type-loan_officer .manager-biography li {
    padding-left: 5px;
}
#branch-content h2 {
    margin-top: 0;
    font-size: 2.5rem;
}
/* #add-co-borrower {
    margin-top: 278px;
} */
.page-loan-apply #questions {
    width: 80vw;
    margin: 0 auto 20px;
    overflow-y: auto;
    min-height: 77vh;
    padding: 0;
}
.delete-borrower-form {
    margin-top: 200px;
}
#co-borrowers-wrapper {
    margin-bottom: 250px;
}
.page-loan-apply #question-container {
    width: 100%;
    margin-top: -35px;
}
.page-loan-apply  #questions .question {
    font-size: 20px;
    font-weight: bold;
    margin-top: 35px;
}
.page-loan-apply #questions .choiceButton {
    border-radius: 3px;
    padding: 15px;
    width: 85%;
    max-width: 600px;
    font-size: 16px;
    background: #006fa9;
    text-align: center;
}
.graphicButton {
    border-radius: 3px;
    padding: 15px;
    width: 85%;
    max-width: 600px;
    font-size: 16px;
    background: #78c254;
    text-align: center;
}
.graphicInput {
    border-radius: 3px;
    padding: 15px !important;
    width: 85% !important;
    max-width: 600px;
    font-size: 16px !important;
    margin: -1px 0 40px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    height: auto;
    outline: none;
}
#options .choiceButton {
    border-radius: 3px;
    padding: 15px;
    width: 85%;
    max-width: 600px;
    font-size: 16px;
    background: #006fa9;
    text-align: center;
    margin: 6px auto;
}
.user-login .inner-layout #form .register-title {
    display: none;
}
.site-type-team #apply-navigation, .site-type-team #branch-steps, .site-type-team #home-provide, .site-type-team #home-reviews, .site-type-team #branch-banner button, .site-type-team #branch-banner .branch-content ul {
    display: none;
}
.site-type-team #branch-banner {
    height: 460px;
}
.site-type-team #team-display {
    margin-top: -100px;
}
.site-type-team #branch-content h2 {
    margin-top: 0 !important;
    margin-bottom: 40px;
}
.site-type-team #branch-managers {
    padding: 40px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.site-type-team .branch-manager-section {
    width: 300px;
}
#new-perk-plans {
    margin: 90px auto 50px;
}
.location-listing {
    padding: 15px 35px 15px 0;
}
#paws-container {
    height: 390px;
    margin: 0 auto;
    width: 800px;
    border: 6px solid #088dc5;
    font-family: 'Myriad Pro', system-ui, sans-serif;
    position: relative;
    background: #006BA7 url('right-dogs.png') bottom right no-repeat;
    background-size: 200px;
    margin-top: 120px;
    margin-bottom: -40px;
}
#paws-motif {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('left-dogs.png') bottom left no-repeat;
    background-size: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#paws-motif h1 {
    background: url('logo.png');
    text-indent: -999vw;
    margin: -10px 0 30px;
    width: 490px;
    height: 167px;
    background-size: cover;
}
#paws-motif h3 {
    color: #7FBB41;
    font-weight: 200;
    margin: 0 0 10px;
    font-size: 22px;
    letter-spacing: .8px;
    text-transform: uppercase;
}
#paws-motif h4 {
    order: -1;
    margin: -1px 0 50px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 200;
}
#paws-motif button {
    background: #7FBB41;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
    padding: 13px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 10px;
}
#paws-motif button:hover {
    cursor: pointer;
}
#paws-motif button span {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 2px;
}
@media screen and (max-width: 1110px) {
    .site-type-team .branch-manager-section {
        width: 37%;
    }
}
.site-type-team .branch-manager-section::after {
    flex: auto;
    content: "";
}
#team-site header ul {
    display: none !important;
}
.page-loan-apply #product-banner, .page-loan-apply footer {
    display: none;
}
.page-loan-apply .inner-layout {
    padding-top: 80px;
}
.user-login .inner-layout #form div.alert.alert-error {
    background: #ffe7dc;
    margin-bottom: -1px;
    padding: 17px;
    line-height: 27px;
    height: auto;
    text-align: left;
    color: white;
    border-left: 8px solid #a91202;
    border-radius: 0 3px 3px 0;
}
#team-site-warning {
    background: #ffe7dc;
    margin-bottom: -1px;
    padding: 17px;
    line-height: 27px;
    height: auto;
    text-align: left;
    color: #a91202;
    border-left: 8px solid #a91202;
    border-radius: 0 3px 3px 0;
}
.calculations-primary:first-of-type {
    padding-bottom: 60px;
}
#copyrights .flex:first-of-type {
    flex-direction: column;
}
#team-site-warning {
    margin-top: -40px;
    margin-bottom: 40px;
}
#co-borrower-addressing {
    background: #ffe7dc;
    margin-bottom: -1px;
    color: #a91202;
    padding: 17px;
    line-height: 27px;
    text-align: left;
    border-left: 8px solid #a91202;
    border-radius: 0 3px 3px 0;
    width: 80%;
    margin: 20px auto 0;
}
.locked-account {
    text-align: center;
    margin: 0 0 -15px;
}
.site-type-branch nav #about-navigation .sub-menu-links li:nth-child(2) {
    display: none;
}
. site-type-loan_officer nav #about-navigation .sub-menu-links li:nth-child(2) {
    display: none;
}
#navigation-logo {
    width: auto;
    max-width: 250px;
}
.hide {
    display: none;
}
html body.page-loan-apply-complete.logged-in.site-type-loan_officer section.inner-layout section#text-based p a.btn.btn-default {
    background: #006fa9;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 12px;
    padding-top: 120px;
    text-align: center;
}
.government-monitoring p {
    width: 100%;
    margin: 20px auto;
}
#navigation-logo > a > img {
    max-height: 42px;
}
.page-branch-list > #product-banner {
    background: linear-gradient(14deg, rgba(5, 6, 6, 0.51) 30%, rgba(107, 97, 28, 0.28) 80%), url('https://annie-mac.com/uploads/sites/10713/public/annie_mac_new_banner_branches.jpeg') top left no-repeat;
    background-size: cover;
    background-position-y: 53%;
}
.page-loan-apply-complete > #product-banner {
    background: linear-gradient(14deg, rgba(5, 6, 6, 0.51) 30%, rgba(107, 97, 28, 0.28) 80%), url('https://annie-mac.com/uploads/sites/10713/public/complete.jpeg') top left no-repeat;
    background-size: cover;
    background-position-y: 32%;
}
#covid-warning {
    background: #ffe7dc;
    margin-bottom: -1px;
    color: #a91202;
    padding: 14px 25px;
    line-height: 1.6;
    margin-top: 0;
}
#covid-warning h4 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #a91202;
    display: flex;
    align-items: center;
}
#covid-warning h4 span {
    font-size: 13px;
    margin-left: 15px;
    color: rgb(169 19 5);
    border: 1px solid #a91305;
    padding: 5px 12px;
    border-radius: 6px;
}
#covid-warning h4 span:hover {
    cursor: pointer;
}
#covid-warning p {
    margin: 8px 0;
}
#covid-warning-container {
    padding-bottom: 10px;
}
#covid-warning a {
    background: #a91202;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 12px;
    width: 160px;
    margin-top: 10px;
    text-align: center;
    margin-right: 30px;
}
#covid-warning a:hover {
    opacity: .8;
}
#annie_mac-loan-officer > #branch-banner {
    background: url('https://annie-mac.com/uploads/sites/10713/public/originator-background-image.jpeg') top left no-repeat;
    background-size: cover;
    background-position-y: 63%;
}
#annie_mac-loan-officer #branch-content h2, .site-type-team #branch-content h2 {
    margin-top: 0 !important;
}
@media screen and (max-width: 854px) {
    #paws-container {
        width: 100vw;
    }
    #paws-motif h1 {
        width: 390px;
        height: 133px;
    }
    #paws-motif h3 {
        color: #fff;
    }
    #paws-motif h4 {
        margin: -5px 0 35px;
    }
    #paws-motif button {
        background: #078CC4;
        font-size: 14px;
    }
}
@media screen and (max-width: 850px) {
    #sitemap #list_11538 {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .site-type-team #navigation-bar {
        justify-content: space-between;
        padding: 7px 14px;
    }
    .site-type-team #navigation-logo {
        order: -3;
    }
    #covid-warning {
        margin-top: 50px;
    }
    #we-provide-more-3 {
        order: -1;
    }
    .location-listing a p:first-of-type {
        width: 80%;
        line-height: 20px;
    }
    #calculations-and-numbers {
        width: 90%;
        display: flex;
        margin: 60px auto 30px;
        flex-direction: column;
    }
    #copyrights ul:nth-of-type(1) {
        flex-direction: column;
    }
}
@media screen and (max-width: 750px) {
    #copyrights ul:nth-of-type(1) {
        margin: 5px auto 10px;
    }
    #social-media {
        display: none;
    }
}
/*Application*/
.page-loan-apply form {
    width: 100%;
}

#property-info-wrapper, #borrower-wrapper, #title-info, #employment-wrapper, #assets-wrapper, #housing-wrapper, #declarations-wrapper, #govt-monitoring-wrapper {
    width: 100%;
}

.span-half:first-of-type {
    padding-right: 20px;
}

.span-half:last-of-type {
    padding-left: 35px;
}

.loan-app {
    width: 96vw;
}

.loan-app .clearfix, .borrower-form header, .government-monitoring {
    width: 90%;
    margin: 0 auto;
}

.loan-app p {
    width: 99%;
    text-align: left;
}

.loan-app p label {
    margin-bottom: 0px;
}

.page-loan-apply table {
    display: flex;
}

.page-loan-apply tr {
    display: flex;
    flex-direction: column;
}

.page-loan-apply tbody {
    display: flex;
    flex-wrap: wrap;
}

.page-loan-apply tbody tr {
    margin-right: 15px;
    margin-bottom: 30px;
}

.loan-app select {
    width: auto;
    padding: 16px;
    min-width: 190px;
    text-align: left;
    margin-top: 18px;
}

.delete-borrower-form {
    display: block;
    margin-bottom: 40px;
}

#loan-app-form-step1 div.span-half:nth-child(1) > div:nth-child(9) > div:nth-child(2), #co-borrowers-wrapper > div:nth-child(2) > div:nth-child(1) > div:nth-child(9) > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sudoux_mortgagebundle_loanapplicationtype_borrower_location_years_at_location, #sudoux_mortgagebundle_loanapplicationtype_borrower_location_months_at_location, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_location_years_at_location, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_location_months_at_location {
    max-width: 80px;
}

#sudoux_mortgagebundle_loanapplicationtype_borrower_location_location_zipcode, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_location_location_zipcode, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_0_location_zipcode, #sudoux_mortgagebundle_loanapplicationtype_asset_real_estate_0_location_zipcode {
    max-width: 167px;
}

#sudoux_mortgagebundle_loanapplicationtype_borrower_ssn, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_ssn, #sudoux_mortgagebundle_loanapplicationtype_borrower_birth_date, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_birth_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_years_of_school, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_years_of_school, #sudoux_mortgagebundle_loanapplicationtype_sale_price, #sudoux_mortgagebundle_loanapplicationtype_loan_amount, #sudoux_mortgagebundle_loanapplicationtype_num_units, #sudoux_mortgagebundle_loanapplicationtype_property_year_built, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_0_start_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_0_end_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_1_start_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_1_end_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_2_start_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_2_end_date, 
#sudoux_mortgagebundle_loanapplicationtype_borrower_employment_3_start_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_3_end_date, 
#sudoux_mortgagebundle_loanapplicationtype_borrower_employment_4_start_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_4_end_date, 
#sudoux_mortgagebundle_loanapplicationtype_borrower_employment_5_start_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_5_end_date, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_0_years_employed, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_1_years_employed, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_2_years_employed, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_3_years_employed, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_4_years_employed, #sudoux_mortgagebundle_loanapplicationtype_borrower_employment_5_years_employed {
    max-width: 162px;
}

#asset-account-wrapper select, #income-monthly-wrapper select, #sudoux_mortgagebundle_loanapplicationtype_property_location_state {
    min-width: 204px;
}

.page-loan-apply th, .page-loan-apply td {
    height: 47px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 0px !important;
    margin: 4px 0px !important;
} 

.page-loan-apply td input, .page-loan-apply td select {
    margin: 0;
    padding: 0 !important;
    padding-left: 18px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    text-align: left;
}

.page-loan-apply tr .delete-row {
    margin-left: 0;
}

.page-loan-apply tbody .money-field {
    width: 91%;
}

.page-loan-apply tbody .money-field input {
    text-indent: 10px;
    background-position-x: 12px;
    width: 187px;
}

.money-field input {
    background-position-x: 12px;
}

.page-loan-apply .required-asterisk {
    display: contents;
}

.page-loan-apply table input, .page-loan-apply table select {
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #696969;
    color: rgba(0, 0, 0, .75);
    display: block;
    padding: 0 16px;
    width: 100%;
    -webkit-appearance: none;
    min-height: 48px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.loan-app form input, .loan-app form textarea {
    margin: 18px 0 25px 0;
    padding: 13px;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    font-family: 'neue-haas-unica', sans-serif;
    width: auto;
    flex: 1;
}

.employment-form div.span-half:nth-child(2) > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.employment-form div.span-half:nth-child(2) > div:nth-child(2) > input {
    width: 140px;
}

.declaration {
    display: flex;
    flex-direction: column;
}

.declaration-wrapper .clearfix {
    width: 90%;
}

.declaration-wrapper .declaration .question {
    width: 100%;
    float: none;
    order: -1;
    margin-bottom: 20px;
}

.government-monitoring {
    margin-top: 25px !important;
}

.government-monitoring .control-group {
    height: initial;
}

.government-monitoring .control-group .choice-row {
    display: flex;
}

.government-monitoring .control-group .choice-row input {
    width: auto;
    flex: 0;
}

#govt-monitoring-form-817313 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.ethnicity_other, .race_tribe, .race_other {
    display: none;
}

.hmdaEthnicitySelections, .hmdaRaceSelections, .hmdaSexSelections {
    padding-top: 0px;
    border-top: 0;
    height: auto;
}

.hmdaRaceSelections .checkbox-group .choice-row:nth-of-type(1) {
    margin-bottom: 10px;
}
.borrower-previous-location-form.loan-form {
    margin-top: 250px;
    margin-bottom: -270px;
}
#add-co-borrower, #add-asset-real-estate, #add-asset-account, #add-income-monthly {
    color: #006fa9 !important;
    background: transparent !important;
    width: 250px !important;
    font-weight: bold;
    font-size: 16px;
}

.form-horizontal {
    display: flex;
    justify-content: space-between;
}

.span-half {
    width: 49% !important;
}

.control-group {
    width: auto;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.control-label {
    margin-bottom: -2px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#realtor-form {
    width: 90%;
}

#sudoux_mortgagebundle_loanapplicationtype_title_company1, #sudoux_mortgagebundle_loanapplicationtype_title_company2 {
    max-width: 400px;
}

#sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_employed {
    margin: 0 auto;
}

#asset-real-estate-wrapper .form-horizontal {
    flex-direction: column;
}

#asset-real-estate-wrapper .clearfix {
    display: flex;
    flex-direction: row;
}
.pw-hint {
    margin-top: -23px;
    margin-bottom: 33px;
}
.page-loan-apply .radio-group input[type="radio"], .checkbox-group input[type="checkbox"] {
    margin: 0 5px 0 0 !important;
}
#employment-wrapper thead th:nth-of-type(2), #employment-wrapper tbody tr td:nth-of-type(2) {
    display: flex !important;
    flex-direction: column !important;
    line-height: 1.7;
    height: 80px !important;
    align-items: flex-start;
}
#assets-wrapper p {
    text-align: left;
    margin-left: 0;
}
label.error {
    border: none !important;
}
.error, .error-txt, .error-txt li {
    color: #e01e19;
    border: 1px solid red !important;
}
.government-monitoring-wrapper tbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 99%;
    margin-left: 3px;
}
.government-monitoring-wrapper tbody tr {
    border-bottom: none !important;
    margin: 3px 0;
}
.government-monitoring-wrapper tbody th {
    width: 99%;
    text-align: left;
}
.government-monitoring-wrapper tbody td {
    width: 98%;
    margin: 0px 0;
    font-size: 16px;
    height: 12px;
}
.government-monitoring p {
    width: 100%;
    margin: 0;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 10px;
}
#creditWell .declaration {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 20px;
}
#creditWell .declaration .question {
    padding-left: 0 !important;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 40px;
    order: -1;
}
#creditWell .declaration .radio-group {
    margin: -40px auto 50px;
    display: flex;
    align-items: center;
}
#creditWell .declaration .radio-group .choice-row {
    display: flex;
    align-items: center;
}
.checkbox {
    display: flex;
    margin: 32px auto;
}
.checkbox input {
    min-width: 30px;
    margin-right: 25px !important;
    margin-top: 10px !important;
}
form #comments {
    border-top: 1px solid #7FC24A;
    margin-top: 20px;
    margin-bottom: 25px;
}
#comments h3 {
    display: none !important;
}
#comments textarea {
    display: none !important;
}
.loan-application-form h3:nth-of-type(2) {
    padding-top: 30px;
}
.borrower-initials-wrapper {
    display: flex !important;
    flex-direction: row;
    flex: 0;
    justify-content: center;
    padding-right: 60px !important;
    font-size: 15px;
}
#sudoux_mortgagebundle_loanapplicationtype_borrower_initials {
    flex: 0;
}
#property-info-wrapper .property-info, .modal-body .borrower-info, .borrower-info, #title-info, #housing-wrapper #housing-expenses {
    display: flex;
    flex-direction: column !important;
}
.page-loan-apply.step7 h3.title {
    margin-bottom: 10px;
}
.hmdaEthnicitySelections .choice-row, .hmdaRaceSelections .choice-row, .hmdaSexSelections .choice-row {
    display: flex;
    align-items: center;
}
.hmdaEthnicitySelections .choice-row label, .hmdaRaceSelections .choice-row label, .hmdaSexSelections .choice-row label {
    position: unset;
}
#assets-wrapper p {
    font-size: 15px;
}
.borrower-previous-location-form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.borrower-previous-location-form .delete-form {
    display: none;
}
.borrower-previous-location-form p small {
    border: none !important;
    text-align: center;
    width: 100%;
    display: block;
    margin: -50px 17px 0px;
}
.borrower-previous-location-form .span-half:last-of-type {
    padding-left: 0;
}
#sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_location_address1, #sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_location_city {
    width: 100% !important;
}
#sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_own_residence .choice-row {
    align-items: center;
}
.borrower-previous-location-form.loan-form {
    margin-left: 16px;
}
#sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_location_city {
    max-width: 167px !important;
}
#sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_years_at_location {
    max-width: 80px !important;
}

#sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_months_at_location {
    max-width: 80px !important;
}

@media only screen and (max-width: 980px) {
.title {
    display: none;
}
#comments .title {
    display: block;
}
.loan-app {
    width: 95vw;
    margin: 80px auto 0;
    overflow-x: hidden;
}
.control-label {
    margin-bottom: 2px;
}
.borrower-form {
    width: 100%;
    margin: 0 auto;
}
#loan-application-nav li a > .description {
    display: none;
}
#loan-app-form-step1 div.span-half:nth-child(1) > div:nth-child(9) > div:nth-child(2), #co-borrowers-wrapper > div:nth-child(2) > div:nth-child(1) > div:nth-child(9) > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 300px;
    margin-top: 1px;
}
.form-horizontal, #asset-real-estate-wrapper .clearfix {
    flex-direction: column;
}
.span-half {
    width: 100% !important;
}
.span-half:first-of-type {
    padding-right: 0;
}
.span-half:last-of-type {
    padding-left: 0;
}
#income-monthly-wrapper table {
    margin-left: 0 !important;
}
.table thead tr th:nth-of-type(1) {
    padding-left: 0 !important;
}
.page-loan-apply th, .page-loan-apply td {
    margin: 8px 0 !important;
    font-size: 15px;
}
.declaration .choice-row {
    margin-top: -8px;
    align-items: center;
}
.loan-app .clearfix, .borrower-form header, .government-monitoring {
    width: 90%;
}
form label, .government-monitoring p {
    font-size: 15px;
}
#loan-app-form-step1 .span-half:first-of-type .control-group:nth-of-type(9) {
    margin-top: 10px;
    min-height: 275px;
}
#declarations-wrapper h4 {
    display: none;
}
.declaration-summary p {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    margin-left: -10px;
    font-size: 16px;
}
.borrower-initials-wrapper {
    display: flex;
    flex-direction: column;
}
.loan-app > p:first-of-type {
    font-size: 15px;
    text-align: center;
}
#sudoux_mortgagebundle_loanapplicationtype_loan_type .choice-row {
    min-height: 50px;
    justify-content: flex-start;
    width: 250px;
}
#sudoux_mortgagebundle_loanapplicationtype_borrower_location_years_at_location, #sudoux_mortgagebundle_loanapplicationtype_borrower_location_months_at_location, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_location_years_at_location, #sudoux_mortgagebundle_loanapplicationtype_co_borrower_0_location_months_at_location, #sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_years_at_location, #sudoux_mortgagebundle_loanapplicationtype_borrower_previous_location_0_months_at_location {
    min-width: 99px !important;
}
.employment-form .span-half:last-of-type .control-group:nth-of-type(2) {
    display: block;
    color: transparent;
}
#sudoux_mortgagebundle_loanapplicationtype_borrower_employment_0_end_date {
    float: left;
}
.loan-app .radio-group input[type="radio"], .loan-app .checkbox-group input[type="checkbox"] {
    min-width: 22px;
    min-height: 22px;
    flex: 0;
}
.control-group {
    min-height: 120px;
    height: auto;
}
.pw-hint {
    margin-top: -18px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
thead {
    width: 33%;
}
#asset-account-wrapper thead {
    display: none;
}
#asset-account-wrapper tbody {
    width: 100%;
    margin-left: -10px;
} 
#asset-account-wrapper tr {
    flex: 1;
}
#asset-account-wrapper td {
    width: 100%;
}
#asset-account-wrapper .money-field input {
    width: 104%;
}
#assets-wrapper tbody, #employment-wrapper tbody {
    margin-left: 50px;
}
.declaration-summary p {
    margin: 15px auto 15px -10px;
}
.sigWrapper {
    display: block;
    width: 88vw;
}
.hmdaEthnicitySelections .checkbox-group .choice-row:nth-of-type(5), .hmdaRaceSelections .checkbox-group .choice-row:nth-of-type(9), .hmdaRaceSelections .checkbox-group .choice-row:nth-of-type(15) {
    margin-bottom: 10px !important;
}
#form {
    min-width: 95%;
}
#creditWell .declaration .question {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
#calculations-and-numbers {
    padding-bottom: 60px;
}
.borrower-previous-location-form {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}
.borrower-previous-location-form p small {
    margin: -20px 0 -5px;
}
.borrower-previous-location-form.loan-form {
    margin: 30px auto;
        margin-left: auto;
    margin-left: 26px;
}
.borrower-previous-location-form .span-half:first-of-type {
    margin-left: -15px;
}
.borrower-previous-location-form .span-half:last-of-type {
    padding-left: 0 !important;
    margin-left: -15px;
}
.borrower-previous-location-form .span-half:last-of-type > .control-group:nth-of-type(2) .controls {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: flex-start !important;
    max-width: 300px !important;
    margin-top: 1px;
}
}

.radio-group .choice-row {
    display: flex !important;
    align-items: center !important;
}

.ui-datepicker-calendar table, .ui-datepicker-calendar tbody {
    max-width: 300px;
    height: 300px;
    background: white;
}

.ui-datepicker-calendar thead {
    display: none;
}

.ui-datepicker-calendar tr {
    flex-direction: row;
    width: 300px;
    background: white;
}

.ui-datepicker-calendar tr > * {
    width: 49px;
    margin: 0 !important;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-datepicker-calendar tbody tr {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.ui-datepicker-calendar tr td a {
    border: none !important;
    background: transparent !important;
}

@media screen and (max-width: 1190px) { 
    #list_11930 {
        display: none;
    }
}

@media screen and (max-width: 1006px) {
    .navigation-sectional:nth-of-type(3) li:last-of-type {
        display: block !important;
    }
}

@media only screen and (max-width: 800px) {
    #loan-originator-backdrop {
        height: 800px;
    }
    #originator-core-details-portrait img {
        margin: -90px auto 50px;
    }
    #originator-core-details {
        flex-direction: column;
    }
    #originator-social-details {
        margin-bottom: -100px;
    }
    #list_11344 {
        display: none;
    }
    #covid-warning {
        margin-top: 0;
        margin-bottom: 60px;
    }
}

.navigation-sidebar-sectional ul li {
    display: block !important;
}
@media only screen and (max-width: 1114px) {
    #inserted-banner {
        display: none;
    }
}

@media only screen and (min-width: 1115px) {
    #annie_mac-loan-officer {
        display: flex;
        background: #f7f7f9;
        color: #333;
    }
    #loan-originator-backdrop {
        background: none;
        /* background: linear-gradient(50deg, rgba(5, 6, 6, 0.61) 30%, rgba(107, 97, 28, 0.28) 80%), url(https://www.annie-mac.com/dev/themes/annie_mac/img/indexbg.jpeg) top left no-repeat; */
        background: none;
        background-position-y: 43.5%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: #000;
        order: 2;
        padding: 0 20px;
        margin-right: 0px;
        min-width: 400px;
        flex: 1;
        flex-direction: column;
        margin-top: 25px;
    }
    #annie_mac-loan-officer > #originator {
        margin-top: -28px;
        margin-right: -15px;
    }
    #covid-warning {
        background: #ffe7dc;
        margin-bottom: -1px;
        color: #a91202;
        padding: 14px 25px;
        line-height: 1.6;
        margin-top: 0;
        margin: 10px;
        border-radius: 5px;
    }
    #loan-originator-blurb-container {
        color: rgba(0,0,0,.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-shadow: 0 0 black;
        width: 100%;
        background: #036fa8;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: 0 1px 2px 3px rgb(0 0 0 / 3%);
    }
    #originator-core-details-text {
        background: rgb(0 0 0 / 18%);
        border-top: 1px solid rgba(0,0,0,.10);
        padding: 20px;
        border-bottom: 1px solid rgba(0,0,0,.10);
        margin-bottom: 20px;
        color: rgba(0,0,0,.85);
        min-width: 362px;
    }
    #loan-originator-blurb-container h2 {
        font-size: 28px;
        text-shadow: none;
        color: white;
        text-align: left;
        font-family: 'neue-haas-unica', -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #loan-originator-blurb-container h4 {
        letter-spacing: 1.2px;
        font-size: 16px;
        font-weight: normal;
        text-shadow: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        color: white;
    }
    #originator-core-details-text h4 span {
        margin-top: 5px;
        font-weight: normal;
        color: inherit;
    }
    #originator-address-details {
        line-height: 30px;
        font-size: 16px;
        text-shadow: none;
        color: white;
    }
    #originator-address-details p {
        text-align: left;
        opacity: 1;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 24px;
    }
    #originator-core-details-portrait img {
        background: transparent;
        max-width: 210px;
        max-height: 210px;
        border-radius: 0;
        margin-left: 0px;
        margin-bottom: 20px;
        border-radius: 100%;
    }
    #originator-main-details {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }
    #originator-core-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
        border-right: none;
        margin-right: 0;
        text-align: center;
        padding-top: 30px;
    }
    #originator-social-details {
        width: inherit;
    }
    #originator-social-details ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        align-self: flex-end;
        width: 100%;
        margin-top: -21px;
        flex-direction: column;
    }
    #originator-social-details ul a {
        border-top: 1px solid rgba(0,0,0,.05);
        width: 100%;
    }
    #originator-social-details li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        width: auto;
        font-size: 16px;
        height: 51px;
        justify-content: flex-start;
    }
    #originator-social-details li i {
        font-size: 23px;
        margin-bottom: 0;
        text-shadow: none;
        width: 50px;
        display: flex;
        justify-content: center;
    }
    .site-type-loan_officer .manager-biography p {
        width: auto;
        padding: 0 25px;
    }
    .manager-biography h2:first-of-type {
        font-size: 25px;
        color: #006fa9;
        margin: 25px auto 15px;
        display: block;
        text-align: center;
    }
    #inserted-banner {
        height: 350px;
        background: linear-gradient(177deg, rgb(23 16 5 / 21%) 30%, rgb(29 27 18 / 60%) 80%), url(https://www.annie-mac.com/uploads/sites/10713/public/House-at-Dusk.jpeg) top left no-repeat;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 60px;
        background-position-y: 68%;
        background-size: 101%;
    }
    #inserted-banner .container-section {
        flex-direction: column;
    }
    #inserted-banner #button-container-home > a:nth-child(1) {
        margin-left: 0;
        background: #006fa9;
        border-radius: 5px;
        color: white !important;
        letter-spacing: 1px;
        border: none;
        font-family: protipo, -apple-system, "Helvetica Neue", Helvetica, "Hiragino Sans", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 17px;
    }
    #inserted-banner > #button-container-home > a:nth-child(1):hover {
        border: none;
    }
    #accolades-originator {
        /* margin-right: -460px; */
    }
    #accolates-originator #we-provide-more-master {
        margin: 0;
    }
    #accolates-originator #what-we-provide {
        flex-direction: column;
    }
    #accolades-originator .we-provide-this {
        width: 100%;
    }
    #accolades-originator .we-provide-this h4 {
        color: white;
        margin-top: 12px;
    }
    #accolades-originator .calculations-primary img {
        display: none;
    }
    #annie_mac-loan-officer .manager-biography p {
        text-align: justify;
    }
    .site-type-loan_officer .branch-manager-section {
        width: 95%;
        padding: 40px 15px 50px;
    }
}