html, body {
    margin: 0;
    padding: 0;
    background: #191d24;
    color: #bdc3cd;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .975rem;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#app {
	background: #5ba0b8;
	width: 80%;
	height: 80%;
	padding: 10vh;
	box-shadow: 1px 3px 2px rgba(0,0,0,.3);
	border-radius: 6px;
}